<link rel="import" href="../../components/page-style.html">

<link rel="import" href="../../components/month-behavior.html">

<link rel="import" href="../../components/common-logic.html">

<link rel="import" href="../../components/format-number-behavior.html">

<dom-module id="search-customs">
    <template>
        <style include="page-style">
             :host {
                display: block;
            }
        </style>
        <table class="gl-table-default">
            <thead class="table-head">
                <tr>
                    <th>1</th>
                    <template is="dom-repeat" items={{header}}>
                        <th>[[item]]</th>
                    </template>
                    <th>มูลค่า (บาท)</th>
                    <th>มูลค่า (ดอลลาร์สหรัฐ)</th>
                    <th>น้ำหนัก (ล้านตัน)</th>
                </tr>
            </thead>
            <tbody class="table-body">

                <template is="dom-repeat" items={{searchCustomsList.datas}} initial-count="20" as=main>
                    <tr on-tap="_getSearch">
                        <td>[[index]]</td>

                        <template is="dom-repeat" items={{field}}>
                            <td>[[getProp(main,item)]]</td>
                        </template>
                        <td>[[formatNumber(main.value_d)]]</td>
                        <td>[[formatNumber(main.value_b)]]</td>
                        <td>[[main.weight]]</td>
                    </tr>
                </template>


            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: 'search-customs',
            behaviors: [
                ReduxBehavior,
                MonthBehavior,
                commonLogic,
                FormatNumberBehavior
            ],
            properties: {
                searchCustomsList: {
                    statePath: 'searchCustoms.searchCustomsList',
                    observer: 'setHeader'
                },
                header: [],
                field: [],
                settingSearch: {
                    statePath: 'searchCustoms.settingSearch',
                    observer: 'setCol'
                },
            },
            setHeader(data) {
                let arr = [],
                    field = []
                for (var key in data.header) {
                    if (data.header.hasOwnProperty(key)) {
                        var element = data.header[key]
                        field.push(key)
                        arr.push(element)
                        // console.log(element);
                    }
                }
                this.set('header', arr)
                this.set('field', field)
                // console.log(this.field);
            },
            getProp(main, item) {
                return main[item]
                // console.log(main,item);
            },
            _getSearch(e) {
                let data = this.settingSearch
                let item = e.model.__data__
                if (item.main.hsCode !== null) {
                    data.hsCode = item.main.hsCode
                    this.dispatchAction('GET_SEARCH_CUSTOMS_ALL', data)
                    // console.log(this.settingSearch);
                }
            },
            setCol(data) {
                console.log(data);
            }
        });
    </script>
</dom-module>