<link rel="import" href="../../components/page-style.html">

<link rel="import" href="../../components/month-behavior.html">

<link rel="import" href="../../components/common-logic.html">

<dom-module id="search-customs">
    <template>
        <style include="page-style">
             :host {
                display: block;
            }
        </style>
        <table class="gl-table-default">
            <thead class="table-head">
                <tr>
                    <th>1</th>
                </tr>
            </thead>
            <tfoot class="table-foot">
                <tr>
                    <td></td>
                </tr>
            </tfoot>
            <tbody class="table-body">

                <template is="dom-repeat" items={{searchCustomsList.datas}} initial-count="20">
                    <tr on-tap="_getSearch">
                        <td>[[index]]</td>
                        <td>[[item.hsCode]]</td>

                        <td>[[item.field1]]</td>
                        <td>[[item.field2]]</td>
                        <td>[[item.value_d]]</td>
                        <td>[[item.weight]]</td>
                        <td>[[item.value_b]]</td>
                    </tr>
                </template>


            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: 'search-customs',
            behaviors: [
                ReduxBehavior,
                MonthBehavior,
                commonLogic
            ],
            properties: {
                searchCustomsList: {
                    statePath: 'searchCustoms.searchCustomsList',
                    observer: 'setHeader'
                },
                header: [],
                settingSearch: {
                    statePath: 'searchCustoms.settingSearch',
                    observer: 'setCol'
                },
            },
            setHeader(data){
                console.log(data);
            },
            _getSearch(e) {
                let data = this.settingSearch
                let item = e.model.__data__
                // console.log(item);
                if (item.item.hsCode !== null) {
                    console.log(e.model.__data__);
                    data.hsCode = item.item.hsCode
                    console.log(data);
                    this.dispatchAction('GET_SEARCH_CUSTOMS_ALL', data)
                    // console.log(this.settingSearch);
                }
            },
            setCol(data) {
                console.log(data);
            }
        });
    </script>
</dom-module>