<link rel="import" href="../../components/page-style.html">

<link rel="import" href="../../components/month-behavior.html">

<link rel="import" href="../../components/common-logic.html">

<link rel="import" href="../../components/format-number-behavior.html">

<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">

<dom-module id="search-customs">
    <template>
        <style include="page-style">
             :host {
                display: block;
            }
            /* .breadcrumbs {
                border: 1px solid red;
                padding: 20px 2px;
            } */

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            #breadcrumbs-one {
                margin: 10px 0px;
                /* border: 1px solid; */
                background-color: ghostwhite;
                padding: 15px 4px;
            }

            .icon,
            .breadcrumbs {
                cursor: pointer;
            }

            .icon:hover,
            .breadcrumbs:hover {
                color: #b7b7b7;
            }

            .breadcrumbs::after {
                content: '  / '
            }
        </style>
        <div class="horizontal start-justified layout">
            <paper-button raised class="gl-btn-info gl-small" on-tap="backPage" disabled="[[checkArray(searchHistory,searchHistory.*)]]">
                <iron-icon icon="settings-backup-restore"></iron-icon>
                ย้อนกลับ
            </paper-button>
        </div>
        <div id="breadcrumbs-one">
            <template is="dom-repeat" items="{{searchHistory}}">
                <span class="icon" hidden="{{checkIndex(index)}}" on-tap="backUrl">
                    <iron-icon icon="menu"></iron-icon>
                </span>
                <span> <a class="breadcrumbs" on-tap="backUrl">{{item.label}}</a></span>
            </template>
        </div>
        <table class="gl-table-default">
            <thead class="table-head">
                <tr>
                    <th>ลำดับ</th>
                    <template is="dom-repeat" items={{header}}>
                        <th>[[item]]</th>
                    </template>
                    <th>มูลค่า (ล้านดอลลาร์สหรัฐ)</th>
                    <th>มูลค่า (ล้านบาท)</th>
                    <th>น้ำหนัก (ล้านตัน)</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <template is="dom-repeat" items={{searchCustomsList.datas}} initial-count="20" as=main>
                    <tr on-tap="_getSearch">
                        <td>[[autoIndex(index)]]</td>

                        <template is="dom-repeat" items={{field}}>
                            <td>[[getProp(main,item)]]</td>
                        </template>
                        <td>[[main.value_d]]</td>
                        <td>[[main.value_b]]</td>
                        <td>[[main.weight]]</td>
                    </tr>
                </template>
            </tbody>
            <tfoot class="table-foot">
                <tr>

                    <template is="dom-repeat" items="{{_isShow(searchCustomsList.datas)}}">
                        <!-- {{item}} and {{index}} can be used in this binding scope -->



                        <td></td>
                        <template is="dom-repeat" items={{field}}>
                            <td></td>
                        </template>
                        <td>ไม่มีข้อมูล</td>
                        <td></td>
                        <td></td>
                    </template>
                </tr>
            </tfoot>
        </table>
    </template>
    <script>
        Polymer({
            is: 'search-customs',
            behaviors: [
                ReduxBehavior,
                MonthBehavior,
                commonLogic,
                FormatNumberBehavior
            ],
            properties: {
                searchCustomsList: {
                    statePath: 'searchCustoms.searchCustomsList',
                    observer: 'setHeader'
                },
                header: [],
                field: [],
                settingSearch: {
                    statePath: 'searchCustoms.settingSearch',
                    observer: 'setCol'
                },
                searchHistory: {
                    type: Array,
                    value: []
                }
            },
            setHeader(data) {
                let arr = [],
                    field = []
                for (var key in data.header) {
                    if (data.header.hasOwnProperty(key)) {
                        var element = data.header[key]
                        field.push(key)
                        arr.push(element)
                        // console.log(element);
                    }
                }
                this.set('header', arr)
                this.set('field', field)
                // console.log(this.field);
            },
            getProp(main, item) {
                return main[item]
                // console.log(main,item);
            },
            autoIndex(index) {
                return index + 1
            },
            checkIndex(index) {
                // console.log(index === 0)
                return index !== 0
                // return index === 0
            },
            checkArray(searchHistory){
                return searchHistory.length < 2
            },
            _isShow: function (data, dataLoop) {
                // console.log(data);
                if (data !== undefined)
                    return data.length < 1
                return false
            },
            _getSearch(e) {
                let data = JSON.parse(JSON.stringify(this.settingSearch))
                let item = e.model.__data__
                let newArray = JSON.parse(JSON.stringify(this.searchHistory))

                const checkField = (data) => {
                    let count = 0
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            var element = data[key]
                            if ((/^field/).test(key)) {
                                count++
                            }
                        }
                    }
                    return count
                }
                // console.log(itsem);
                if (item.main.hsCode !== null) {
                    data.hsCode = item.main.hsCode
                    data.countryCode = item.main.countryCode
                    let fieldHsName = checkField(item.main)
                    let field2 = 'field' + (fieldHsName - 1)
                    let field1 = 'field' + (fieldHsName - 2)
                    //g= เช็คว่าค่าซ้ำกับล่าสุดไหม ถ้าซ้ำไม่เพิ่มเข้าไป
                    if (!(newArray[newArray.length - 1].hsCode === item.main.hsCode)) {
                        if (data.field1 === "hamonize" && data.field2 === "country") {
                            data.label = + item.main.hsCode + ' - ' + item.main[field2]
                        } else if (data.field1 === "hamonize" && (data.field2 === "" || !data.hasOwnProperty('field2'))) {
                            data.label = + item.main.hsCode
                        } else if (data.field1 === "country" && (data.field2 === "" || !data.hasOwnProperty('field2'))) {
                            data.label = item.main['field' + 0]
                        } else {
                            data.label = item.main['field' + 0] + item.main.hsCode
                        }

                        newArray.push(data)
                        this.set('searchHistory', newArray)
                    }

                    this.dispatchAction('GET_SEARCH_CUSTOMS_ALL', data)
                    this.notifyPath('searchHistory')
                }
            },
            setCol(data) {
                this.set('searchHistory', [])
                this.push('searchHistory', JSON.parse(JSON.stringify(data)))
                // console.log(this.searchHistory);
                // console.log(data);
            },
            backPage() {
                if (this.searchHistory.length > 0) {
                    this.pop('searchHistory')
                    this.dispatchAction('GET_SEARCH_CUSTOMS_ALL', this.searchHistory[this.searchHistory.length - 1])
                    // console.log(this.searchHistory);
                }
            },
            backUrl(e) {
                let data = e.model.index
                let newArray = JSON.parse(JSON.stringify(this.searchHistory))
                let newArray2 = []
                // console.log(newArray);
                for (var i = 0; i < data + 1; i++) {
                    // console.log(newArray[i]);
                    newArray2.push(newArray[i])
                }
                this.set('searchHistory', newArray2)
                this.dispatchAction('GET_SEARCH_CUSTOMS_ALL', this.searchHistory[data])
            }

        });
    </script>
</dom-module>