<link rel="import" href="./../../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="./../../../../bower_components/paper-radio-group/paper-radio-group.html">

<link rel="import" href="./../../../../bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="./../../components/page-style.html">

<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="./../../../../bower_components/paper-menu-button/paper-menu-button.html">

<link rel="import" href="./../../../../bower_components/paper-tooltip/paper-tooltip.html">


<link rel="import" href="./../../../../bower_components/paper-listbox/paper-listbox.html">


<link rel="import" href="./../../../../bower_components/paper-item/paper-item.html">

<dom-module id="group-item">
    <template>
        <style include="page-style">
            div.main {
                /*background-color: red;*/
                height: 300px;
                overflow-y: scroll;
                /*min-width: 300px;*/
                border: solid darkblue 1px;
            }

            span.namesub {
                display: inline-block;
                /*background-color: blue;*/
                width: 70%;
            }

            span.year {
                display: inline-block;
                width: 20%;
                /*background-color: red;*/
                /*display: inline;*/
                /*float: right;*/
            }


            .collapse-content {
                padding: 15px;
                width: 500px;
                border: 1px solid #dedede;
            }

            .header-item {
                border: 1px solid #ddd;
                background-color: #F1F1F1;
                padding: 15px;
            }

            .subdiv {
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                height: 300px;
                overflow-y: scroll;
            }

            .item,
            .sub-item {
                padding: 15px 0px;
                border-bottom: 1px solid #ddd;
            }

            .item:hover,
            .sub-item:hover {
                background-color: #F1F1F1;
            }

            .sub-item {
                padding-left: 60px;
            }
        </style>
        <div class="horizontal layout">
            <div class="flex">
                <div class="horizontal layout header-item" warp>
                    <div class="header-div flex">
                        <div style="padding: 10px 15px;">
                            รูปแบบการแสดง
                            <paper-radio-group selected="{{typeSelete}}">
                                <paper-radio-button name="list">แบบรายการ</paper-radio-button>
                                <paper-radio-button name="group">แบบกลุ่ม</paper-radio-button>
                            </paper-radio-group>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="horizontal layout end-justified">{{list}}////
                            <!--<paper-icon-button id="edit" class="crud" icon="settings" raised on-tap="editContract" disabled="[[!commonState.btnDisabled]]"></paper-icon-button>
                            <paper-tooltip for="edit" offset="0">ตั่งค่า</paper-tooltip>-->
                            <paper-menu-button>
                                <paper-icon-button icon="settings" slot="dropdown-trigger" alt="settings"></paper-icon-button>
                                <paper-listbox attr-for-selected="value" slot="dropdown-content" selected="{{groupName}}" fallback-selection="None">

                                    <template is="dom-repeat" items={{list}}>
                                        <paper-item value="[[item.group_id]]">[[item.group_name_th]]</paper-item>

                                    </template>


                                </paper-listbox>
                            </paper-menu-button>
                        </div>
                    </div>
                </div>
                <iron-pages selected="{{typeSelete}}" attr-for-selected="name">
                    <div name="list">
                        <div class="horizontal layout header-item" warp>
                            <div class="header-div flex"></div>
                            <div class="header-div flex-3">[[localizeContract.hm_code]]<br>
                                <gl-form-input label="[[localizeCommon.search]]" disabled="{{!dataSeleted.year}}" type="search" value="{{dataSeleted.hamonize_code}}"
                                    on-value-changed="searchHamonizeCode"></gl-form-input>
                            </div>
                            <div class="header-div flex-3">[[localizeContract.hm_name]]<br>
                                <gl-form-input style="padding-left:20px;" disabled="{{!dataSeleted.year}}" value="{{dataSeleted.hamonize_th2}}" label="[[localizeCommon.search]]"
                                    type="search" on-value-changed="searchHamonizeTh"></gl-form-input>
                            </div>
                        </div>
                        <div class="subdiv">
                            <template is="dom-repeat" items={{items}} index-as="indexroot">
                                <div hidden="{{item.hiddend}}">
                                    <template is="dom-repeat" items={{item.sub}} as="subChild">
                                        <div hidden="{{subChild.hiddend}}">
                                            <div class="horizontal layout item">
                                                <div class="row flex">
                                                    <paper-checkbox style="padding-left:25px;" id="{{indexroot}}" checked="{{subChild.check}}" on-tap="getSelect" disabled="[[commonState.btnDisabled]]">
                                                </div>
                                                <div class="row flex-3">[[subChild.hamonize_code]]</div>
                                                <div class="row flex-3">[[subChild.hamonize_th2]]</div>
                                            </div>
                                        </div>
                                    </template>
                            </template>
                            </div>
                        </div>
                        <div name="group">
                            <div class="horizontal layout header-item" warp>
                                <div class=""></div>
                                <div class="header-div flex"></div>
                                <div class="header-div flex"></div>
                                <div class="header-div flex-3">[[localizeContract.hm_code]]
                                    <gl-form-input label="[[localizeCommon.search]]" type="search" disabled="{{!dataSeleted.year}}" value="{{dataSeleted.hamonize_code}}"
                                        on-value-changed="searchHamonizeCode"></gl-form-input>
                                </div>
                                <div class="header-div flex-3">[[localizeContract.hm_group]]</div>
                                <div class="header-div flex-3">[[localizeContract.hm_name]]
                                    <gl-form-input style="padding-left:20px;" disabled="{{!dataSeleted.year}}" value="{{dataSeleted.hamonize_th2}}" label="[[localizeCommon.search]]"
                                        type="search" on-value-changed="searchHamonizeTh"></gl-form-input>
                                </div>
                                <div class="header-div flex-2">[[localizeContract.hm_year]]</div>
                            </div>
                            <div class="subdiv">
                                <template is="dom-repeat" items={{hamonizeList}} index-as="indexroot">
                                    <div hidden="{{item.hiddend}}">
                                        <div class="horizontal layout item">
                                            <div class="">
                                                <paper-icon-button style="margin-top: -50px;" icon="chevron-right" index="[[indexroot]]" on-tap="toggle"></paper-icon-button>
                                            </div>
                                            <div class="row flex">
                                                <paper-checkbox checked="{{item.check}}" id="{{indexroot}}" on-tap="getCheckChild" disabled="[[commonState.btnDisabled]]">
                                            </div>
                                            <div class="row flex"></div>
                                            <div class="row flex-3"></div>
                                            <div class="row flex-3">[[item.name_th]]</div>
                                            <div class="row flex-3">-</div>
                                            <div class="row flex-2">-</div>
                                        </div>
                                    </div>
                                    <iron-collapse id="collapse-[[indexroot]]">
                                        <template is="dom-repeat" items={{item.sub}} as="subChild">
                                            <div hidden="{{subChild.hiddend}}">
                                                <div class="horizontal layout sub-item">
                                                    <div class=""></div>
                                                    <div class="row flex">
                                                        <paper-checkbox id="{{indexroot}}" checked="{{subChild.check}}" on-tap="getSelect" disabled="[[commonState.btnDisabled]]">
                                                    </div>
                                                    <div class="row flex"></div>
                                                    <div class="row flex-3">[[subChild.hamonize_code]]</div>
                                                    <div class="row flex-3">[[item.name_th]]</div>
                                                    <div class="row flex-3">[[subChild.hamonize_th2]]</div>
                                                    <div class="row flex-2">[[subChild.hamonize_year]]</div>
                                                </div>
                                            </div>
                                        </template>
                                    </iron-collapse>
                                </template>
                            </div>
                        </div>
                </iron-pages>
                </div>
                <div class="flex">
                    <div class="horizontal layout header-item" warp>
                        <div class="header-div flex">
                            <div style="padding: 10px 15px;">
                                รูปแบบการแสดง
                                <paper-radio-group selected="{{typeSelete}}">
                                    <paper-radio-button name="list">แบบรายการ</paper-radio-button>
                                    <paper-radio-button name="group">แบบกลุ่ม</paper-radio-button>
                                </paper-radio-group>
                            </div>
                        </div>
                    </div>
                    <iron-pages selected="{{typeSelete}}" attr-for-selected="name">
                        <div name="list">
                            <div class="horizontal layout header-item" warp>
                                <div class="header-div flex"></div>
                                <div class="header-div flex-3">[[localizeContract.hm_code]]<br>
                                    <gl-form-input label="[[localizeCommon.search]]" disabled="{{!dataSeleted.year}}" type="search" value="{{dataSeleted.hamonize_code}}"
                                        on-value-changed="searchHamonizeCode"></gl-form-input>
                                </div>
                                <div class="header-div flex-3">[[localizeContract.hm_name]]<br>
                                    <gl-form-input style="padding-left:20px;" disabled="{{!dataSeleted.year}}" value="{{dataSeleted.hamonize_th2}}" label="[[localizeCommon.search]]"
                                        type="search" on-value-changed="searchHamonizeTh"></gl-form-input>
                                </div>
                            </div>
                            <div class="subdiv">
                                <template is="dom-repeat" items={{hamonizeList}} index-as="indexroot">
                                    <div hidden="{{item.hiddend}}">
                                        <template is="dom-repeat" items={{item.sub}} as="subChild">
                                            <div hidden="{{subChild.hiddend}}">
                                                <div class="horizontal layout item">
                                                    <div class="row flex">
                                                        <paper-checkbox style="padding-left:25px;" id="{{indexroot}}" checked="{{subChild.check}}" on-tap="getSelect" disabled="[[commonState.btnDisabled]]">
                                                    </div>
                                                    <div class="row flex-3">[[subChild.hamonize_code]]</div>
                                                    <div class="row flex-3">[[subChild.hamonize_th2]]</div>
                                                </div>
                                            </div>
                                        </template>
                                </template>
                                </div>
                            </div>
                            <div name="group">
                                <div class="horizontal layout header-item" warp>
                                    <div class=""></div>
                                    <div class="header-div flex"></div>
                                    <div class="header-div flex"></div>
                                    <div class="header-div flex-3">[[localizeContract.hm_code]]
                                        <gl-form-input label="[[localizeCommon.search]]" type="search" disabled="{{!dataSeleted.year}}" value="{{dataSeleted.hamonize_code}}"
                                            on-value-changed="searchHamonizeCode"></gl-form-input>
                                    </div>
                                    <div class="header-div flex-3">[[localizeContract.hm_group]]</div>
                                    <div class="header-div flex-3">[[localizeContract.hm_name]]
                                        <gl-form-input style="padding-left:20px;" disabled="{{!dataSeleted.year}}" value="{{dataSeleted.hamonize_th2}}" label="[[localizeCommon.search]]"
                                            type="search" on-value-changed="searchHamonizeTh"></gl-form-input>
                                    </div>
                                    <div class="header-div flex-2">[[localizeContract.hm_year]]</div>
                                </div>
                                <div class="subdiv">
                                    <template is="dom-repeat" items={{hamonizeList}} index-as="indexroot">
                                        <div hidden="{{item.hiddend}}">
                                            <div class="horizontal layout item">
                                                <div class="">
                                                    <paper-icon-button style="margin-top: -50px;" icon="chevron-right" index="[[indexroot]]" on-tap="toggle"></paper-icon-button>
                                                </div>
                                                <div class="row flex">
                                                    <paper-checkbox checked="{{item.check}}" id="{{indexroot}}" on-tap="getCheckChild" disabled="[[commonState.btnDisabled]]">
                                                </div>
                                                <div class="row flex"></div>
                                                <div class="row flex-3"></div>
                                                <div class="row flex-3">[[item.name_th]]</div>
                                                <div class="row flex-3">-</div>
                                                <div class="row flex-2">-</div>
                                            </div>
                                        </div>
                                        <iron-collapse id="collapse-[[indexroot]]">
                                            <template is="dom-repeat" items={{item.sub}} as="subChild">
                                                <div hidden="{{subChild.hiddend}}">
                                                    <div class="horizontal layout sub-item">
                                                        <div class=""></div>
                                                        <div class="row flex">
                                                            <paper-checkbox id="{{indexroot}}" checked="{{subChild.check}}" on-tap="getSelect" disabled="[[commonState.btnDisabled]]">
                                                        </div>
                                                        <div class="row flex"></div>
                                                        <div class="row flex-3">[[subChild.hamonize_code]]</div>
                                                        <div class="row flex-3">[[item.name_th]]</div>
                                                        <div class="row flex-3">[[subChild.hamonize_th2]]</div>
                                                        <div class="row flex-2">[[subChild.hamonize_year]]</div>
                                                    </div>
                                                </div>
                                            </template>
                                        </iron-collapse>
                                    </template>
                                </div>
                            </div>
                    </iron-pages>
                    </div>
                </div>
    </template>
    <script>
        Polymer({
            is: 'group-item',
            properties: {
                typeSelete: {
                    type: String,
                    value: 'list'
                },
                groupdata: {
                    type: Array,
                    
                },
                list: {
                    type: Array,
                    observer: 'getData'
                },
                items: {
                    type: Array,
                },
                groupBy: {
                    type: String,
                },
                groupName: {
                    type: String,
                    value: 'alpha'
                }
            },
            getData(data) {
                if (data.lenght > 0 ) {
                    
                }
                // group_id
            }
        });
    </script>
</dom-module>