<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="company-list">
    <style include="page-style flex-style"></style>
    <template>
        <paper-material elevation="1">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th class="label-head">TAX ID</th>
                        <th class="label-head">บริษัท</th>
                        <th class="label-head">เข้า (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                        <th class="label-head">ออก (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                    </tr>
                </thead>
                <template is="dom-if" if="[[checkData(dataList)]]">
                    <tbody>
                        <tr>
                            <td colspan="6" class="no-data">ไม่พบข้อมูล</td>
                        </tr>
                    </tbody>
                </template>
            </table>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'company-list',
            behaviors:[
                DataManageBehavior,
                ReduxBehavior,
                FormatNumberBehavior
            ],
            properties:{
                dataList:{
                    type: Array,
                    value: []
                }
            }
        });
    </script>
</dom-module>