<link rel="import" href="./../../components/month-behavior.html">
<dom-module id="company-search">
    <style include="page-style flex-style"></style>
    <template>
         <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เริ่มวันที่ : 
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.date_start}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                        <div class="labelSearchDate">
                        ถึงวันที่ : 
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.date_end}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เลขที่ผู้เสียภาษี : 
                    </div>
                    <div class="flex2child">
                        <gl-combo-box class="textCenter" items="" item-label-path="" item-value-path="" value=""></gl-combo-box>
                    </div>
                    <div class="flexchild">
                        <div class="btn-search">                    
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getCompanyValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>
                    </div>
                </div>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'company-search',
            behaviors: [
                ReduxBehavior,
                MonthBehavior
            ],
            properties:{
                // hamonizeCodeList:{
                //     statePath:'hamonize.hamonizeCodeList'
                // },
                data:{
                    type:Object,
                    value:{}
                }
            },
            getCompanyValue(){
                // console.log(this.changeDateslde('2017-55-85'));
                this.dispatchAction('COMPANY_CODE_SEARCH',this.change2GMT7(this.data))
            },
        });
    </script>
</dom-module>