<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<dom-module id="company-list">
    <style include="page-style flex-style">
         /* table.gl-table-default > thead > tr:nth-child(1) > th:nth-child(2),
        table.gl-table-default > tfoot > tr > td:nth-child(2) {
            width: 15%;
        }
        table.gl-table-default > thead > tr:nth-child(1) > th:nth-child(3),
        table.gl-table-default > tfoot > tr > td:nth-child(3) {
            width: 30%;
        } */
    </style>
    <template>
        <paper-material elevation="1"  class="container">
            <template is="dom-if" if="[[checkData(list)]]">
                <div style="text-align:center">ไม่พบข้อมูล</div>
            </template>
            <template is="dom-repeat" items={{list}}>
                <div style="margin:10px 0px 10px 0px;">ชื่อบริษัท : {{item.company_name_th}}</div>
                <table class="gl-table-default">
                    <thead>
                        <tr>
                            <th class="label-head" rowspan="2">ประเทศ</th>
                            <th class="label-head" rowspan="2">ชนิดข้าว</th>
                            <th class="label-head" colspan="3">นำเข้า</th>
                            <!--<th class="label-head">มูลค่า (บาท)</th>-->
                            <th class="label-head" colspan="3">ส่งออก</th>
                            <!--<th class="label-head">มูลค่า (บาท)</th>-->
                        </tr>
                        <tr>
                            <!--<th class="label-head">HM CODE</th>-->
                            <!--<th class="label-head">ชนิดข้าว</th>-->
                            <th class="label-head">ปริมาณ (ตัน)</th>
                            <th class="label-head">มูลค่า (บาท)</th>
                            <th class="label-head">มูลค่า (USD)</th>
                            <th class="label-head">ปริมาณ (ตัน)</th>
                            <th class="label-head">มูลค่า (บาท)</th>
                            <th class="label-head">มูลค่า (USD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items={{item.country_name_th}} as="dataCountry">
                            <template is="dom-repeat" items={{dataCountry}} as="country">
                                <tr>
                                    <td>[[country.country_name_th]]</td>
                                    <td>[[country.hamonize_th]]</td>
                                    <td class="format-number">[[formatNumber(country.net_weight_i)]]</td>
                                    <td class="format-number">[[formatNumber(country.fob_amt_baht_i)]]</td>
                                    <td class="format-number">[[formatNumber(country.fob_amt_i)]]</td>
                                    <td class="format-number">[[formatNumber(country.net_weight_e)]]</td>
                                    <td class="format-number">[[formatNumber(country.fob_amt_baht_e)]]</td>
                                    <td class="format-number">[[formatNumber(country.fob_amt_e)]]</td>
                                    <!-- <td class="format-number">[[formatNumber(item.fob_amt_baht_e)]]</td> -->
                                </tr>
                            </template>
                        </template>
                    </tbody>
                      <tfoot>
                        <tr>
                            <td></td>
                            <td>รวม</td>
                            <td class="total">[[formatNumber(total.net_weight_i)]]</td>
                            <td class="total">[[formatNumber(total.fob_amt_baht_i)]]</td>
                            <td class="total">[[formatNumber(total.fob_amt_i)]]</td>
                            <td class="total">[[formatNumber(total.net_weight_e)]]</td>
                            <td class="total">[[formatNumber(total.fob_amt_baht_e)]]</td>
                            <td class="total">[[formatNumber(total.fob_amt_e)]]</td>
                        </tr>
                    </tfoot>  
                </table>
                <br><hr>
            </template>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'company-list',
            behaviors:[
                DataManageBehavior,
                ReduxBehavior,
                FormatNumberBehavior,
                commonLogic
            ],
            properties:{
                list:{
                    type: Array,
                    statePath:'company.list',
                    // observer:'totalcal'
                },
                total:{
                    type: Object,
                    value:{}
                }
            },
            // totalcal(data){
            //     this.set('total.net_weight_i',Object.keys(data).reduce((previous, current) => previous + data[current].net_weight_i , 0));
            //     this.set('total.fob_amt_baht_i',Object.keys(data).reduce((previous, current) => previous + data[current].fob_amt_baht_i , 0));
            //     this.set('total.fob_amt_i',Object.keys(data).reduce((previous, current) => previous + data[current].fob_amt_i , 0));
            //     this.set('total.net_weight_e',Object.keys(data).reduce((previous, current) => previous + data[current].net_weight_e , 0));
            //     this.set('total.fob_amt_baht_e',Object.keys(data).reduce((previous, current) => previous + data[current].fob_amt_baht_e , 0));
            //     this.set('total.fob_amt_e',Object.keys(data).reduce((previous, current) => previous + data[current].fob_amt_e , 0));
            // }
        });
    </script>
</dom-module>