<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<dom-module id="company-list">
    <style include="page-style flex-style">
         table.gl-table-default > thead > tr:nth-child(1) > th:nth-child(2),
        table.gl-table-default > tfoot > tr > td:nth-child(2) {
            width: 15%;
        }
        table.gl-table-default > thead > tr:nth-child(1) > th:nth-child(3),
        table.gl-table-default > tfoot > tr > td:nth-child(3) {
            width: 30%;
        }
    </style>
    <template>
        <paper-material elevation="1"  class="container">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th class="label-head" rowspan="2">ลำดับ</th>
                        <th class="label-head" rowspan="2">เลขที่ผู้เสียภาษี</th>
                        <th class="label-head" rowspan="2">ชื่อบริษัท</th>
                        <th class="label-head" rowspan="2">ประเทศ</th>
                        <th class="label-head" rowspan="2">ชนิดข้าว</th>
                        <th class="label-head" colspan="3">นำเข้า</th>
                        <!--<th class="label-head">มูลค่า (บาท)</th>-->
                        <th class="label-head" colspan="3">ส่งออก</th>
                        <!--<th class="label-head">มูลค่า (บาท)</th>-->
                    </tr>
                    <tr>
                        <!--<th class="label-head">HM CODE</th>-->
                        <!--<th class="label-head">ชนิดข้าว</th>-->
                        <th class="label-head">ปริมาณ (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                        <th class="label-head">มูลค่า (USD)</th>
                        <th class="label-head">ปริมาณ (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                        <th class="label-head">มูลค่า (USD)</th>
                    </tr>
                </thead>
                <tbody>
                <template is="dom-if" if="[[checkData(list)]]">
                    <tr>
                        <td colspan="11" class="no-data">ไม่พบข้อมูล</td>
                    </tr>
                </template>
                <template is="dom-repeat" items={{list}} >
                    <tr>
                        <td style="text-align: center;">[[_Obindex(index)]]</td>
                        <td>[[item.company_taxno]]</td>
                        <td>[[item.company_name_th]]</td>
                        <td class="format-number">[[item.country_name_th]]</td>
                        <td class="format-number">[[item.hamonize_th]]</td>
                        <td class="format-number">[[formatNumber(item.net_weight_e)]]</td>
                        <!-- <td class="format-number">[[formatNumber(item.fob_amt_baht_e)]]</td> -->
                    </tr>
                </template>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>รวม</td>
                        <td class="total">[[formatNumber(total.net_weight_i)]]</td>
                        <td class="total">[[formatNumber(total.fob_amt_baht_i)]]</td>
                        <td class="total">[[formatNumber(total.fob_amt_i)]]</td>
                        <td class="total">[[formatNumber(total.net_weight_e)]]</td>
                        <td class="total">[[formatNumber(total.fob_amt_baht_e)]]</td>
                        <td class="total">[[formatNumber(total.fob_amt_e)]]</td>
                    </tr>
                </tfoot>
            </table>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'company-list',
            behaviors:[
                DataManageBehavior,
                ReduxBehavior,
                FormatNumberBehavior,
                commonLogic
            ],
            properties:{
                list:{
                    type: Array,
                    statePath:'company.list',
                    observer:'totalcal'
                },
                total:{
                    type: Object,
                    value:{}
                }
            },
            totalcal(dataList){
                this.set('total.net_weight_i',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].net_weight_i , 0));
                this.set('total.fob_amt_baht_i',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].fob_amt_baht_i , 0));
                this.set('total.fob_amt_i',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].fob_amt_i , 0));
                this.set('total.net_weight_e',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].net_weight_e , 0));
                this.set('total.fob_amt_baht_e',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].fob_amt_baht_e , 0));
                this.set('total.fob_amt_e',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].fob_amt_e , 0));
            }
        });
    </script>
</dom-module>