<link rel="import" href="./../../components/month-behavior.html">
<dom-module id="company-search">
    <style include="page-style flex-style"></style>
    <template>
         <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เริ่มวันที่ :
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.sdate}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        ถึงวันที่ :
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.edate}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <!--<div class="flexchild"></div>-->
                    <!--<div class="flexchild"></div>-->
                    <div class="labelSearchDate">
                        เลขที่ผู้เสียภาษี : 
                    </div>
                    <div class="flex2child">
                        <gl-combo-box id="companySearch" class="textCenter"  value="{{data.company_taxno}}"></gl-combo-box>
                    </div>
                    <div class="labelSearchDate">
                        เรียงโดย : 
                    </div>
                    <div class="flexchild">
                        <gl-combo-box id="companyOrderBy" class="textCenter" item-label-path="label" item-value-path="id" value="{{data.orderby}}"></gl-combo-box>
                    </div>
                    <div class="flexchild">
                        <div class="btn-search">                    
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getCompanyValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>
                    </div>
                    <!--<div class="flexchild"></div>-->
                    <!--<div class="flexchild"></div>-->
                    <!--<div class="flexchild"></div>-->
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild">
                        <div class="btn-search">                    
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getCompanyValueReport">
                                <iron-icon icon="assignment"></iron-icon>
                                ออกรายงาน
                            </paper-button>
                        </div>
                    </div>
                    <div class="flex3child">
                    </div>
                </div>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'company-search',
            behaviors: [
                ReduxBehavior,
                MonthBehavior
            ],
            properties:{
                companyCodeList:{
                    statePath:'company.companyCodeList',
                    observer: '_setItem'
                },
               date:{
                    statePath:'hamonize.date',
                    observer: '_setDate'
                },
                companyOrder:{
                    type:Array,
                    value : [
                        { 
                            id: 'company_taxno',
                          label:'เลขที่ผู้เสียภาษี	' 
                        },
                        { 
                            id: 'company_name',
                          label:'บริษัท' 
                        },
                        { 
                            id: 'net_weight_in',
                          label:'ปริมาณนำเข้า' 
                        },
                        { 
                            id: 'net_weight_out',
                          label:'ปริมาณส่งออก' 
                        },
                        { 
                            id: 'fob_amt_baht_in',
                          label:'มูลค่านำเข้า' 
                        },
                        { 
                            id: 'fob_amt_baht_out',
                          label:'มูลค่าส่งออก' 
                        }
                    ]
                },
                data:{
                    type:Object,
                    value:{}
                }
            },
            _setItem(companyCodeList){
                let combobox = this.$$('#companySearch')
                let newData = companyCodeList.map((company)=>{
                    return {label: company.company_taxno+' '+company.company_name, value: company.company_taxno}
                })
                combobox.items = newData;
                let comboboxcompanyOrderBy = this.$$('#companyOrderBy')
                comboboxcompanyOrderBy.items = this.companyOrder
                comboboxcompanyOrderBy.value = 'company_taxno'
            },
            _setDate(e){
                this.set('data.sdate',e.sdate)
                this.set('data.edate',e.edate);
                
                (e.edate != '')? this.getCompanyValue():'';
                // console.log(this.data);
            },
            getCompanyValue(){
                // console.log(this.data.company_taxno == undefined || this.data.company_taxno == '');
                if (this.data.company_taxno == undefined || this.data.company_taxno == '') {
                    this.dispatchAction('COMPANY_CODE_SEARCH_R1',this.genUrl(this.change2GMT7(this.data)))
                }else {
                    this.dispatchAction('COMPANY_CODE_SEARCH_R2',this.genUrl(this.change2GMT7(this.data)))
                }
            },
            getCompanyValueReport(){
                if (this.data.company_taxno == undefined || this.data.company_taxno == '') {
                    window.open('./api/report/c01?'+this.genUrl(this.data))
                }else {
                    window.open('./api/report/c02?'+this.genUrl(this.data))
                }
            }
        });
    </script>
</dom-module>