
<dom-module id="page-style">
    <template>
        <style include="gl-size gl-styles gl-table gl-panel">
            .container{
                padding: 20px;
            }
            .labelSearchDate{
                margin-top: 30px;
                margin-left: 10px;
            }
            paper-material{
                background-color: white;
            }
            paper-button,section,header{
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            .gl-table-default{
                border: 1px solid #ddd;
            }
            .textCenter{
                text-align: center;
            }
            .btn-search{
                margin-top: 15px;
                margin-left: 10px;
            }
            .gl-small{
                font-size: var(--font-size-h5);
            }
            table.gl-table-default > thead > tr > th.label-head,
            table.gl-table-default > tbody > tr > td.no-data {
                text-align: center;
            }
            table.gl-table-default > tbody > tr > td.format-number{
                text-align: right;
            }
            .xcontainer{
        	    margin:auto;
      	    }
            .header{
                text-align: center;
                font-size: 28px;
                margin-bottom: 10px;
                color: #7B7D7D;
            }
            @media screen and (min-width: 1275px) {
                .xcontainer {
                    width:80%;
                }
    	    }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>