<link rel="import" href="./../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="./../../../bower_components/gl-styles/gl-styles.html">
<dom-module id="page-style">
    <template>
        <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles gl-size gl-styles gl-table gl-panel">
            .container {
                padding: 20px;
            }

            .labelSearchDate,
            .labelDate {
                line-height: 60px;
            }
            paper-material {
                background-color: white; 
            }

            paper-button,
            section,
            header {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            .textCenter {
                text-align: center;
            }

            .btn-search {
                margin-top: 15px;
                margin-left: 10px;
            }

            .gl-small {
                font-size: var(--font-size-h5);
            }

            table.gl-table-default {
                border: 1px solid #ddd;
            }

            table.gl-table-default>thead>tr>th.label-head,
            table.gl-table-default>tbody>tr>td.no-data {
                text-align: center;
            }

            table.gl-table-default>tbody>tr>td.format-number,
            table.gl-table-default>tfoot>tr>td.total {
                text-align: right;
            }

            table.gl-table-default>tfoot>tr>td {
                font-weight: bold;
            }

            table.gl-table-default>tbody.table-body>tr>td {
                /*cursor: pointer;*/
                padding: 10px 15px;
            }

            .xcontainer {
                margin: auto;
            }

            .header {
                text-align: center;
                font-size: 28px;
                margin-bottom: 10px;
                color: #7B7D7D;
            }

            @media screen and (min-width: 1275px) {
                .xcontainer {
                    width: 95%;
                }
            }

            .crud {
                margin: 5px 5px 5px 5px;
            }

            .crud:hover {
                background-color: var(--paper-grey-200);
                border-radius: 5px;
                box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .2);
            }

            paper-button.btnInTable {
                --paper-button: {
                    margin-top: 0px;
                    height: 32px;
                }
            }

            vaadin-grid#material {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));
                --vaadin-grid-cell: {
                    padding: 0;
                }
                ;
                --vaadin-grid-header-cell: {
                    min-height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 16px;
                    font-weight: bold;
                    background-color: #F1F1F1;
                    padding: 5px 5px;
                    /*border-bottom: 1px solid red;*/
                    /*border: 0.5px solid rgba(0, 0, 0, var(--dark-secondary-opacity));*/
                }
                ;
                --vaadin-grid-body-cell: {
                    min-height: 48px;
                    color: rgba(0, 0, 0, var(--dark-primary-opacity));
                    word-warp font-size: 17px;
                }
                ;
                --vaadin-grid-footer-cell: {
                    min-height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 16px;
                    font-weight: bold;
                }
                ;
                --vaadin-grid-body-row-hover-cell: {
                    background-color: var(--paper-grey-200);
                }
                ;
                --vaadin-grid-body-row-selected-cell: {
                    background-color: var(--paper-grey-100);
                }
                ;
                --vaadin-grid-focused-cell: {
                    box-shadow: none;
                    font-weight: bold;
                }
                ;
            }

            vaadin-grid#material .text-left {
                text-align: left;
                padding-right: 10px;
            }

            vaadin-grid#material .text-center {
                text-align: center;
            }

            vaadin-grid#material .text-right {
                text-align: right;
                padding-right: 10px;
            }



            vaadin-grid#material .cursor {
                cursor: pointer
            }

            .center {
                text-align: center;
            }

            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: var(--font-size-h5);
            }

            .button-top {
                margin: 20px;
            }

            .text-center {
                text-align: center;
            }

            .text-head {
                text-align: center;
                padding: 10px 0px 10px 10px;
                background-color: var(--paper-grey-100);
                color: var(--paper-grey-600);
                font-size: var(--font-size-h3);
                /*font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;*/
            }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>