
<dom-module id="page-style">
    <template>
        <style include="gl-size gl-font gl-styles gl-color gl-table gl-panel">
            .container{
                padding: 20px;
            }
            .labelSearchDate{
                margin-top: 30px;
                margin-left: 10px;
            }
            paper-material{
                background-color: white;
            }
            paper-button,section{
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            .textCenter{
                text-align: center;
            }
            .xcontainer{
        	    margin:auto;
      	    }
            @media screen and (min-width: 1275px) {
                .xcontainer {
                    width:80%;
                }
    	    }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>