<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="../../components/vaadin-gird-filter-common.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../../../bower_components/nylon-tag/nylon-tag.html">

<link rel="import" href="./../../../../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="./../../components/page-style.html">

<dom-module id="hamonize-search-two">
    <style include="page-style flex-style">
        vaadin-grid {
            margin: 0px;
            width: 100%;
        }

        tag-module {
            cursor: pointer;
        }

        .label {
            font-size: var(--tag-module-form-label-font-size);
            color: #737373;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .item {
            float: left;
            margin: 5px;
        }

        .comBobox {
            clear: both;
        }

        .sub-title {
            display: block;
            color: red;
        }

        p span {
            display: block;
        }
    </style>
    <template>
        <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild labelSearchDate">
                        เริ่มวันที่ :
                    </div>
                    <div class="flex2child">
                        <gl-form-input type="date" value="{{data.dateStart}}" on-value-changed="setHamonizeSdate"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild labelSearchDate">
                        ถึงวันที่ :
                    </div>
                    <div class="flex2child">
                        <gl-form-input type="date" value="{{data.dateEnd}}" on-value-changed="setHamonizeEdate"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <!--<div class="flexchild"></div>-->
                    <div class="flex2child " style="text-align: right; padding-right: 10px;">
                        แสดงคอลัมน์ :
                    </div>
                    <div class="flex2child">
                        <div class="vertical layout">
                            <div>
                                <paper-checkbox checked="{{data.exporter}}">ส่งออก</paper-checkbox>
                            </div>
                            <div>
                                <paper-checkbox checked="{{data.importer}}">นำเข้า</paper-checkbox>
                            </div>
                        </div>
                    </div>
                    <!--<div class="flexchild"></div>-->
                    <div class="flex2child" style="text-align: right; padding-right: 10px;">
                        ลำดับที่ :
                    </div>
                    <div class="flex3child">
                        <template is="dom-repeat" items="[[value]]">
                            <div class="item">
                                <nylon-tag on-tap="deleteTag" item="[[item]]" label="[[item.label]]" color="[[setColor(item.color)]]"></nylon-tag>
                            </div>
                        </template>
                        <div class="comBobox">
                            <gl-combo-box id="priority" no-label-float item-label-path="id" item-value-path="id" items="{{getSeleted(myItems.*)}}" on-selected-item-changed="selectTag">
                                <template>
                                    [[item.id]]
                                </template>
                            </gl-combo-box>
                        </div>
                    </div>
                    <!--<div class="flexchild"></div>-->
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        ปีพิกัด (HS Code) :
                    </div>
                    <div class="flexchild">
                        <gl-combo-box id="hamonizeSearch" placeholder="ปี" class="textCenter" items="{{checkYear(data.dateStart,data.dateEnd,listYear)}}"
                            item-label-path="year" item-value-path="year" value="{{data.hmYear}}" on-value-changed="getYearRice">
                            <template>
                                [[item.year]]
                            </template>
                        </gl-combo-box>
                        <!--<gl-combo-box id="hamonizeSearch" placeholder="เลือกเลขพิกัดข้าว" class="textCenter" items="{{hamonizeCodeList.use}}" item-label-path="label"
                            item-value-path="label" value="{{data.hmparent}}" on-value-changed="getChildHm">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box> -->
                    </div>
                    <div class="labelSearchDate">
                        <!--เรียงโดย : -->
                    </div>
                    <div class="flexchild">
                        <!--<gl-combo-box id="hamonizeOrderBy" class="textCenter" item-label-path="label" item-value-path="id" value="{{data.orderby}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>-->
                    </div>
                    <div class="labelSearchDate">
                        <!--แหล่งข้อมูล :-->
                    </div>
                    <div class="flexchild">
                        <!--<gl-combo-box id="hamonizeSourch" class="textCenter" items="{{dataSourch}}" item-label-path="label" item-value-path="id"
                            value="{{data.refDB}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>-->
                    </div>
                    <div class="flexchild">
                        <!--<div class="btn-search">
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getRiceValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>-->
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flex-5">
                        <div class="flex-horizontal-with-ratios" style="width:95%">
                            <vaadin-grid id="material" items="{{hmChild}}">
                                <vaadin-grid-column width="150px" flex-grow="0" resizable>
                                    <template class="header">พิกัดข้าว
                                        <vaadin-gird-filter-common aria-label="Rice Name" path="hamonize_code" value="[[_hamonize_code]]">
                                        </vaadin-gird-filter-common>
                                    </template>
                                    <template>
                                        <div on-click="selectHamnoize" style="padding-left:15px" hidden="[[item.hidden]]">
                                            [[item.hamonize_code]]
                                        </div>
                                    </template>
                                </vaadin-grid-column>

                                <vaadin-grid-column width="450px" flex-grow="0" resizable>
                                    <template class="header">ชื่อชนิดข้าว (ไทย)
                                        <vaadin-gird-filter-common aria-label="Rice Name" path="hamonize_th" value="[[_hamonize_th]]">
                                        </vaadin-gird-filter-common>
                                    </template>
                                    <template>
                                        <div on-click="selectHamnoize" style="padding-left:15px" hidden="[[item.hidden]]"> [[item.hamonize_th]]</div>
                                    </template>
                                </vaadin-grid-column>
                                <!--<vaadin-grid-column width="100px">
                                    <template class="header">1111</template>
                                    <template>
                                        <paper-checkbox aria-label$="Show Details for [[item.hamonize_th]]" checked="{{expanded}}">Show Details</paper-checkbox>
                                    </template>
                                </vaadin-grid-column>-->
                            </vaadin-grid>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="horizontal layout end">
                            <div class="title">ชนิดข้าวที่เลือก</div>
                            <iron-icon icon="arrow-forward"></iron-icon>
                        </div>
                    </div>
                    <div class="flex-5">
                        <div class="flex-horizontal-with-ratios" style="width:95%">
                            <vaadin-grid id="material" items="{{seletedRice}}">

                                <vaadin-grid-column width="150px" flex-grow="0" resizable>
                                    <template class="header">พิกัดข้าว
                                        <vaadin-gird-filter-common aria-label="Rice Name" path="hamonize_code" value="[[_hamonize_code]]">
                                        </vaadin-gird-filter-common>
                                    </template>
                                    <template>
                                        <div on-click="deselectHamnoize" style="padding-left:15px">[[item.hamonize_code]]</div>
                                    </template>
                                </vaadin-grid-column>

                                <vaadin-grid-column width="450px" flex-grow="0" resizable>
                                    <template class="header">ชื่อชนิดข้าว (ไทย)
                                        <vaadin-gird-filter-common aria-label="Rice Name" path="hamonize_th" value="[[_hamonize_th]]">
                                        </vaadin-gird-filter-common>
                                    </template>
                                    <template>
                                        <div on-click="deselectHamnoize" style="padding-left:15px">[[item.hamonize_th]]</div>
                                    </template>
                                </vaadin-grid-column>


                            </vaadin-grid>
                        </div>
                    </div>
                </div>
                <div class="horizontal layout">
                    <div class="flex">

                    </div>
                    <div class="flex">

                    </div>
                    <div class="end-justified">
                        <div class="btn-search">
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getRiceValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>
                    </div>
                </div>


            </div>


        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'hamonize-search-two',
            behaviors: [
                ReduxBehavior,
                MonthBehavior
            ],
            properties: {
                hamonizeCodeList: {
                    statePath: 'hamonize.hamonizeCodeList',
                    observer: '_setItem'
                },
                date: {
                    statePath: 'hamonize.date',
                    observer: '_setDate'
                },
                dataSourch: {
                    type: Array,
                    value: [
                        {
                            id: 'f3',
                            label: 'ข้อมูลจากกรมการค้าต่างประเทศ'
                        },
                        {
                            id: 'custom',
                            label: 'ข้อมูลจากกรมศุลกากร'
                        }
                    ]
                },
                data: {
                    type: Object,
                    value: {},
                    notify: true
                },
                hmChild: {
                    type: Array,
                    value: []
                    // statePath: 'hamonize.hamonizeCodeChild',
                },
                statusCheck: {
                    type: Boolean,
                    value: true
                },
                listYear: {
                    statePath: 'hamonize.hamonizeCodeYear',
                },
                listRice: {
                    statePath: 'hamonize.list_rice'
                },
                seletedRice: {
                    type: Array,
                    value: [],
                },
                value: {
                    value: [],
                    notify: true
                },
                label: {
                    type: String,
                    value: 'label'
                },
                items: {
                    observer: 'obItems'
                },
                myItems: {
                    type: Array,
                    value: [
                        {
                            id: 'ประเทศ',
                            value: 'country',
                            label: '',
                            hidden: false
                        },
                        {
                            id: 'บริษัท',
                            value: 'company',
                            label: '',
                            hidden: false
                        }
                    ]
                }
            },
            selectTag: function (e) {
                let value = e.detail.value
                // console.log(value);
                if (value !== null) {

                    let result = this.myItems.indexOf(value)
                    let num = this.value.length + 1
                    this.set('myItems.' + result + '.hidden', true)
                    this.set('myItems.' + result + '.label', num + '.' + value.id + '   X')
                    // console.log(this.myItems[result]);
                    this.push('value', value);
                    e.detail.value = {}
                    // console.log(e.detail.value);
                    // console.log(this.$.priority.value)

                }

            },
            setColor: function (value) {
                if (typeof value == 'undefined') {
                    return '#7B7D7D';
                }
                else {
                    return value;
                }
            },
            deleteTag: function (e) {
                // console.log(e.currentTarget.item);
                var index = this.value.indexOf(e.currentTarget.item);
                var indexMyItem = this.myItems.indexOf(e.currentTarget.item);
                this.splice('value', index, 1);

                // บวกเลขเข้าไป

                this.value.map((item, num) => {
                    this.set('myItems.' + indexMyItem + '.hidden', false)
                    this.set('myItems.' + indexMyItem + '.label', (num + 1) + '.' + item.id + '   X')
                    this.set('value.' + num + '.label', (num + 1) + '.' + item.id + '   X')
                })
                if (this.value.length === 0) {
                    this.myItems.map((item, index) => {
                        this.set('myItems.' + index + '.hidden', false)
                    })
                }
            },
            getSeleted(filter) {
                // console.log(filter.map((item) => item.hidden !== true));
                let data = this.myItems.filter((item) => item.hidden === false)
                return data
            },

            checkYear(dateStart, dateEnd, listYear) {
                let yearStart = dateStart.split('-')[0]
                let yearEnd = dateEnd.split('-')[0]
                let hmYear = []
                listYear.map((item, index) => {
                    item.yearStart = Number(item.year)
                    if (listYear[index + 1] !== undefined) {
                        item.yearEnd = Number(listYear[index + 1].year - 1)
                    } else {
                        item.yearEnd = 9999
                    }
                    if (yearEnd >= item.yearStart && yearStart <= item.yearEnd) {
                        hmYear.push({ year: item.year })
                    }
                })
                // console.log(hmYear);
                return hmYear

            },
            // end check box
            // obdata(data) { console.log(data) },
            getYearRice(e) {
                var year = e.detail.value;
                // console.log(this.seletedRice);
                if (this.seletedRice !== undefined) {
                    if (this.seletedRice.length > 0) {
                        let yearHm = this.seletedRice[0].hamonize_year
                        if (year !== yearHm) {
                            this.seletedRice = []
                        }
                    }
                }
                // console.log(this.seletedRice);
                if (year !== '' && typeof year !== 'undefined') {
                    // console.log(this.listRice);
                    // console.log(year);
                    let list_rice = this.listRice.filter((item) => item.hamonize_year == year);
                    // console.log(list_rice);
                    this.hmChild = list_rice;
                }
            },
            setHamonizeSdate(data) {
                try {
                    let dateStart = new Date(data.detail.value).getFullYear(),
                        dateEnd = new Date(this.data.dateEnd).getFullYear()
                    this.setYearHamonize(dateStart, dateEnd)
                } catch (e) {

                }
            },
            setHamonizeEdate(data) {
                try {
                    // console.log(data.detail.value);
                    let dateStart = new Date(this.data.dateStart).getFullYear(),
                        dateEnd = new Date(data.detail.value).getFullYear()
                    this.setYearHamonize(dateStart, dateEnd)
                } catch (e) {

                }
            },
            _setItem(hmcode) {
                let dateStart = new Date(this.data.dateStart).getFullYear(),
                    dateEnd = new Date(this.data.dateEnd).getFullYear()
                this.setYearHamonize(dateStart, dateEnd)
                // console.log(this.hamonizeCodeList);
                // console.log(111);
            },
            setYearHamonize(Syear, Eyear) {
                if (!Number.isNaN(Syear) && !Number.isNaN(Eyear)
                    && this.hamonizeCodeList !== undefined) {
                    let hm = this.hamonizeCodeList
                    let startyear = '',
                        endyear = ''
                    for (var variable in hm) {
                        if (Number(variable) <= Syear)
                            startyear = variable
                    }
                    if (Syear === Eyear) {
                        // console.log(this.hamonizeCodeList[startyear]);
                        this.set('hamonizeCodeList.use', this.hamonizeCodeList[startyear])
                    } else {
                        // console.log(222);
                        for (var variable in hm) {
                            if (Number(variable) <= Eyear)
                                endyear = variable
                        }
                        //     console.log(222222);
                        //    console.log(this.hamonizeCodeList[startyear]);
                        //     console.log('Eyear',this.hamonizeCodeList[endyear]);
                        let newArr = this.hamonizeCodeList[startyear].concat(this.hamonizeCodeList[endyear])
                        this.set('hamonizeCodeList.use', newArr)
                        // console.log(this.hamonizeCodeList.use.length);
                    }
                }
            },
            _setDate(e) {
                this.set('data.dateStart', e.dateStart)
                this.set('data.dateEnd', e.dateEnd);
                this.set('data.exporter', true)
                this.set('data.importer', false)
            },
            getRiceValue() {
                // console.log(this.$.material.selectedItems);
                var selects = this.$.material.selectedItems;
                let arr = []
                // let rice = selects.filter((item) => item.checks === true)
                this.seletedRice.map((id) => {
                    arr.push(id.hamonize_code)
                })
                // console.log(this.value);
                // console.log(arr.join(','));
                var hmcodes = arr.join(',');
                var data = {
                    hmYear: this.data.hmYear,
                    hmCode: hmcodes,
                    dateStart: this.data.dateStart,
                    dateEnd: this.data.dateEnd,
                    exporter: this.data.exporter,
                    importer: this.data.importer
                }
                switch (this.value.length) {
                    case 1:
                        data.field2 = this.value[0].value
                        break;
                    case 2:
                        data.field2 = this.value[0].value,
                            data.field3 = this.value[1].value
                        break;
                    default:
                        break;
                }
                this.set('data', data)
                // console.log(data);
                this.dispatchAction('HAMONIZE_RICE_GET', data);
            },
            // getRiceValueReport() {
            //     let arr = []
            //     let rice = this.hmChild.filter((item) => item.checks === true)
            //     rice.map((id) => {
            //         arr.push(id.id)
            //     })
            //     // console.log(arr);
            //     this.data.hmchild = arr
            //     let code = this.data.hmparent.split(' ')
            //     let hmparent = code[0]
            //     // console.log(hmparent);
            //     let newLink = this.data
            //     newLink.hmparent = hmparent
            //     window.open('./api/report/h01?' + this.genUrl(newLink))
            // },
            selectHamnoize(e) {
                let hamonize_code = e.model.item.hamonize_code
                // this.fire('toast', {
                // status: 'success', text: 'เพิ่ม ' + e.model.item.hamonize_th, callback() {
                let indexHamonize = this.hmChild.findIndex((item) => item.hamonize_code === hamonize_code)
                this.set('hmChild.' + indexHamonize + '.hidden', true)
                    // console.log(this.hmChild);
                this.push('seletedRice', e.model.item)
                // }
                // });
                // console.log(e.model.__data__.item);
            },
            deselectHamnoize(e) {
                let index = e.model.__data__.index
                let hamonize_code = e.model.item.hamonize_code
                // this.fire('toast', {
                // status: 'success', text: 'เพิ่ม ' + e.model.item.hamonize_th, callback() {
                let indexHamonize = this.hmChild.findIndex((item) => item.hamonize_code === hamonize_code)
                this.set('hmChild.' + indexHamonize + '.hidden', false)
                this.splice('seletedRice', index, 1);
                // console.log(e.model.__data__.index);
            }
        });
    </script>
</dom-module>