<link rel="import" href="./../../components/month-behavior.html">

<link rel="import" href="../../components/nylon-date-picker/nylon-date-picker.html">

<link rel="import" href="../../components/page-style.html">

<link rel="import" href="../../components/flex-style.html">

<dom-module id="cert-search">
    <style include="page-style flex-style">
        paper-icon-button {
            width: 23px;
            height: 23px;
            padding: 0px 4px;
        }
    </style>
    <template>
        <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เริ่มวันที่ :
                    </div>
                    <div class="flex2child">
                            <nylon-date-picker no-label-float selected="{{data.dateStart}}" show-bc></nylon-date-picker>
                        <!-- <gl-form-input type="date" value="{{data.dateStart}}"></gl-form-input> -->
                        <!--<vaadin-date-picker class="textCenter" value="{{data.dateStart}}"></vaadin-date-picker>-->
                    </div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        ถึงวันที่ :
                    </div>
                    <div class="flex2child">
                            <nylon-date-picker no-label-float selected="{{data.dateEnd}}" show-bc></nylon-date-picker>
                        <!-- <gl-form-input type="date" value="{{data.dateEnd}}"></gl-form-input> -->
                        <!--<vaadin-date-picker class="textCenter" value="{{data.dateEnd}}"></vaadin-date-picker>-->
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    
                    <div class="labelSearchDate">
                        เลขที่:
                    </div>
                    <div class="flex2child">
                        <!--<gl-combo-box class="textCenter" items="[[licenseList]]" item-label-path="reference_code2" item-value-path="reference_code2" value="{{data.reference_code2}}"></gl-combo-box>-->
                        <gl-form-input value="{{data.refCode}}">
                            <!--<div prefix style="padding-left:5px;">พณ</div>-->
                            <paper-icon-button suffix icon="clear" on-tap="clearInput"></paper-icon-button>
                        </gl-form-input>
                    </div>
                    <div class="labelSearchDate">ประเภท</div>
                    <div class="flex2child">
                        <gl-combo-box id="hamonizeSearch" placeholder="ประเภท" class="textCenter" items="{{typeBook}}"
                            item-label-path="label" item-value-path="value" value="{{data.type}}" >
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                    <div class="flexchild">
                        <div class="btn-search">
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getCertValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <!--<div class="flex-horizontal-with-ratios">
                    <div class="flexchild">
                        <div class="btn-search">
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getCertValueReport">
                                <iron-icon icon="assignment"></iron-icon>
                                ออกรายงาน
                            </paper-button>
                        </div>
                    </div>
                </div>
                <div class="flex3child"></div>-->
            </div>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'cert-search',
            behaviors: [
                ReduxBehavior,
                MonthBehavior
            ],
            properties: {
                certList: {
                    statePath: 'cert.list'
                },
                date: {
                    statePath: 'hamonize.date',
                    observer: '_setDate'
                },
                data: {
                    type: Object,
                    value: {},
                    notify: true
                },
                typeBook:{
                    type: Array,
                    value: [
                        {
                            label :'หนังสือรับรอง',
                            value : 'cert'
                        },
                        {
                            label :'ใบอนุญาต',
                            value : 'license'
                        }
                    ],
                }
            },
            _setDate(e) {
                this.set('data.dateStart', e.dateStart)
                this.set('data.dateEnd', e.dateEnd)
                this.set('data.type','license')
                this.dispatchAction('CERT_SEARCH', this.data);
                // this.dispatchAction('HAMONIZE_CODE_SEARCH_R1', this.genUrl(this.change2GMT7(this.data)));
                // //console.log(this.data);
            },
            getCertValue() {
                // if (this.data.reference_code2 == undefined || this.data.reference_code2 == '') {
                this.dispatchAction('CERT_SEARCH', this.data)
                // } else {
                //     this.dispatchAction('CERT_SEARCH_REFERENCE', this.data.reference_code2)
                // }
            },
            getCertValueReport() {
                // if (this.data.reference_code2 == undefined || this.data.reference_code2 == '') {
                window.open('./api/report/ce01?' + this.genUrl(this.data));
                // //console.log(this.data);
                // } else {
                //     // //console.log(this.data);
                //     window.open('./api/report/ce02/' + this.data.reference_code2);
                // }
            },
            clearInput: function () {
                this.set('data.reference_code2', '');
            }
        });
    </script>
</dom-module>