<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<dom-module id="cert-list">
    <style include="page-style flex-style"></style>
    <template>
        <paper-material elevation="1" class="container">
            <!--<template is="dom-if" if="[[!checkData(dataList)]]">
                <div class="horizontal layout ">
                    <div class="flex-3">
                    </div>
                    <div class="flex layout end-justified ">
                        <paper-button raised class="gl-btn-info gl-small" data="{{item}}" on-tap="printReportCent">
                            <iron-icon icon="assignment"></iron-icon>
                            ออกรายงาน
                        </paper-button>
                    </div>
                </div>
            </template>-->
            <table class="gl-table-default">

                <thead>
                    <tr>
                        <th class="label-head">ลำดับ</th>
                        <th class="label-head">เลขที่หนังสือรับรอง</th>
                        <th class="label-head">ประเภทหนังสือรับรอง</th>
                        <th class="label-head">ปริมาณ (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                        <th class="label-head" style="width:10%;">วันที่อนุญาต</th>
                        <th class="label-head" style="width:10%;">วันที่หมดอายุ</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-if" if="[[checkData(dataList)]]">
                        <tr>
                            <td colspan="9" class="no-data">ไม่พบข้อมูล</td>
                        </tr>
                    </template>

                    <template is="dom-repeat" items={{dataList}}>
                        <tr on-tap="printReportCent" style="cursor: pointer;" data="[[item]]">
                            <td style="text-align: center;">[[_Obindex(index)]]</td>
                            <td>[[item.reference_code2]]</td>
                            <td>[[item.contract_type_name]]</td>
                            <td class="format-number">[[formatNumber(item.net_weight)]]</td>
                            <td class="format-number">[[formatNumber(item.fob_amt_baht)]]</td>
                            <td>[[item.approve_date]]</td>
                            <td>[[item.expire_date]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'cert-list',
            behaviors: [
                DataManageBehavior,
                ReduxBehavior,
                FormatNumberBehavior,
                commonLogic,
                MonthBehavior
            ],
            properties: {
                dataList: {
                    statePath: 'cert.list'
                }
            },
            printReportCent(e) {
                let url = { refCode : e.currentTarget.data.reference_code2}
                console.log(e.currentTarget.data);
                // window.open('./api/report/search/referenceCode?' + this.genUrl(url))
            }
        });
    </script>
</dom-module>