<link rel="import" href="./../../components/month-behavior.html">

<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="hamonize-search">
    <style include="page-style flex-style">
        vaadin-grid {
            margin: 0px;
            /*width: 60%;*/
        }
    </style>
    <template>
        <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เริ่มวันที่ :
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.sdate}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        ถึงวันที่ :
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.edate}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เลขพิกัดศุลกากร :
                    </div>
                    <div class="flex2child">
                        <gl-combo-box id="hamonizeSearch" placeholder="เลือกเลขพิกัดข้าว" class="textCenter" items="{{hamonizeCodeList}}" item-label-path="label" item-value-path="id"
                            value="{{data.hmparent}}" on-value-changed="getChildHm">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                    <!--<div class="labelSearchDate">
                        เรียงโดย : 
                    </div>
                    <div class="flexchild">
                        <gl-combo-box id="hamonizeOrderBy" class="textCenter" item-label-path="label" item-value-path="id" value="{{data.orderby}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>-->
                    <div class="labelSearchDate">
                        แหล่งข้อมูล :
                    </div>
                    <div class="flexchild">
                        <gl-combo-box id="hamonizeSourch"class="textCenter" items="{{dataSourch}}" item-label-path="label" item-value-path="id"
                            value="{{data.dataSourch}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                    <div class="flexchild">
                        <div class="btn-search">
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getRiceValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild">
                        <div class="btn-search">
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getRiceValueReport">
                                <iron-icon icon="assignment"></iron-icon>
                                ออกรายงาน
                            </paper-button>
                        </div>
                    </div>
                    <div class="flex3child">
                    </div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex2child">
                        <vaadin-grid aria-label="Basic Binding Example" items="[[hmChild]]">

                            <vaadin-grid-column width="150px" flex-grow="0">
                                <template class="header">
                                    <paper-checkbox checked="{{statusCheck}}" on-tap="selectAll">เลือกทั้งหมด</paper-checkbox>
                                </template>
                                <template>
                                    <paper-checkbox checked="{{item.checks}}"></paper-checkbox>
                                </template>
                                <!-- If necessary, the footer could be set using <template class="footer"> -->
                                <template class="footer">#</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="449px" flex-grow="0">
                                <template class="header">ชนิดข้าว</template>
                                <template>[[item.label]]</template>
                                <template class="footer">ชนิดข้าว</template>
                            </vaadin-grid-column>

                        </vaadin-grid>
                    </div>
                    <div class="flexchild"></div>
                </div>
            </div>


        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'hamonize-search',
            behaviors: [
                ReduxBehavior,
                MonthBehavior
            ],
            properties: {
                hamonizeCodeList: {
                    statePath: 'hamonize.hamonizeCodeList',
                    observer: '_setItem'
                },
                date: {
                    statePath: 'hamonize.date',
                    observer: '_setDate'
                },
                hamonizeOrder: {
                    type: Array,
                    value: [
                        {
                            id: 'hamonize_code',
                            label: 'เลขพิกัด'
                        },
                        {
                            id: 'hamonize_th',
                            label: 'ชนิดข้าว'
                        },
                        {
                            id: 'net_weight_in',
                            label: 'ปริมาณนำเข้า'
                        },
                        {
                            id: 'net_weight_out',
                            label: 'ปริมาณส่งออก'
                        },
                        {
                            id: 'fob_amt_baht_in',
                            label: 'มูลค่านำเข้า'
                        },
                        {
                            id: 'fob_amt_baht_out',
                            label: 'มูลค่าส่งออก'
                        }
                    ]
                },
                dataSourch: {
                    type: Array,
                    value: [
                        {
                            id: 'f3',
                            label: 'ข้อมูลจากชั้น 3'
                        },
                        {
                            id: 'do',
                            label: 'ข้อมูลจากกรมศุล'
                        }
                    ]
                },
                data: {
                    type: Object,
                    value: {}
                },
                hmChild: {
                    statePath: 'hamonize.hamonizeCodeChild',
                },
                statusCheck:{
                    type: Boolean,
                    value:true
                }
            },
            getChildHm(e) {
                try {
                    // console.log(e.detail.value);
                    let hmparent = e.detail.value
                    if (hmparent !== '' && hmparent !== undefined) {
                        // console.log(this.data);
                        let data = { 'hmparent': hmparent }
                        this.dispatchAction('HAMONIZE_CODE_GET_CHILD', this.genUrl(data))
                    }
                    // let num = ''
                    // if (e.detail.value.length === 4)
                    //     num = 6
                    // if (e.detail.value.length === 6)
                    //     num = 8
                    // if (e.detail.value.length === 8)
                    //     num = 11
                    // if (e.detail.value.length === 11)
                    //     return this.set('newList', [])
                    // let newList = this.hamonizeCodeList.filter((check) => check.lengths === num)
                    // newList.map((check) => {
                    //     return check.checks = true
                    // })
                    // this.set('newList', newList)
                    // console.log(newList);
                } catch (e) {

                }

                // 
            },
            selectAll() {
                this.fire('toast', { status: 'load' })
                console.log(this.statusCheck);
                this.hmChild.map((set, index) => {
                    // console.log(this.list_employees[index].budget_balance);
                    // if (this.hmChild[index].budget_balance !== 0)
                        this.set('hmChild.' + index + '.checks', this.statusCheck)
                    // console.log(this.list_employees[index].budget_balance);
                })
                // this.set('paperFab', !this.statusCheck)
                // console.log(this.paperFab);
                this.fire('toast', { status: 'load' })
            },
            _setDate(e) {
                this.set('data.sdate', e.sdate)
                this.set('data.edate', e.edate);
                this.set('data.dataSourch', 'f3');
                // data.dataSourch
                // (e.edate != '') ? this.getRiceValue() : '';
            },
            getRiceValue() {
                let arr = []
                let rice = this.hmChild.filter((item) => item.checks === true)
                rice.map((id) => {
                    arr.push(id.id)
                })
                // console.log(arr);
                this.data.hmchild = arr
                // console.log(this.data);
                // if (this.data.orderby == '') {
                //     let comboboxhamonizeOrderBy = this.$$('#hamonizeOrderBy')
                //     comboboxhamonizeOrderBy.value = 'hamonize_code'
                //     this.data.orderby = 'hamonize_code'
                // }
                // if (this.data.hamonize_code == undefined || this.data.hamonize_code == '') {
                // console.log(1);
                this.dispatchAction('HAMONIZE_CODE_SEARCH_R1', this.genUrl(this.data))
                // } else {
                //     console.log(2);
                //     this.dispatchAction('HAMONIZE_CODE_SEARCH_R1', this.genUrl(this.data))
                //     // this.dispatchAction('HAMONIZE_CODE_SEARCH_R2', this.genUrl(this.data))
                // }
            },
            getRiceValueReport() {
                let arr = []
                let rice = this.hmChild.filter((item) => item.checks === true)
                rice.map((id) => {
                    arr.push(id.id)
                })
                // console.log(arr);
                this.data.hmchild = arr
                // if (this.data.hamonize_code == undefined || this.data.hamonize_code == '') {
                window.open('./api/report/h01?' + this.genUrl(this.data))
                // } else {
                //     window.open('./api/report/h02?' + this.genUrl(this.data))
                // }
            }
        });
    </script>
</dom-module>