<link rel="import" href="./../../components/month-behavior.html">
<dom-module id="hamonize-search">
    <style include="page-style flex-style"></style>
    <template>
         <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เริ่มวันที่ :
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.sdate}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        ถึงวันที่ :
                    </div>
                    <div class="flex2child">
                        <vaadin-date-picker class="textCenter" value="{{data.edate}}"></vaadin-date-picker>
                    </div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="labelSearchDate">
                        เลขพิกัดศุลกากร : 
                    </div>
                    <div class="flex2child">
                        <gl-combo-box id="hamonizeSearch" class="textCenter" value="{{data.hamonize_code}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                    <div class="labelSearchDate">
                        เรียงโดย : 
                    </div>
                    <div class="flexchild">
                        <gl-combo-box id="hamonizeOrderBy" class="textCenter" item-label-path="label" item-value-path="id" value="{{data.orderby}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                    <div class="flexchild">
                        <div class="btn-search">                    
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getRiceValue">
                                <iron-icon icon="search"></iron-icon>
                                ค้นหา
                            </paper-button>
                        </div>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild">
                        <div class="btn-search">                    
                            <paper-button raised class="gl-btn-info gl-small" on-tap="getRiceValueReport">
                                <iron-icon icon="assignment"></iron-icon>
                                ออกรายงาน
                            </paper-button>
                        </div>
                    </div>
                    <div class="flex3child">
                    </div>
                </div>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'hamonize-search',
            behaviors: [
                ReduxBehavior,
                MonthBehavior
            ],
            properties:{
                hamonizeCodeList:{
                    statePath:'hamonize.hamonizeCodeList',
                    observer: '_setItem'
                },
                date:{
                    statePath:'hamonize.date',
                    observer: '_setDate'
                },
                hamonizeOrder:{
                    type:Array,
                    value : [
                        { 
                            id: 'hamonize_code',
                          label:'เลขพิกัด' 
                        },
                        { 
                            id: 'hamonize_th',
                          label:'ชนิดข้าว' 
                        },
                        { 
                            id: 'net_weight_in',
                          label:'ปริมาณนำเข้า' 
                        },
                        { 
                            id: 'net_weight_out',
                          label:'ปริมาณส่งออก' 
                        },
                        { 
                            id: 'fob_amt_baht_in',
                          label:'มูลค่านำเข้า' 
                        },
                        { 
                            id: 'fob_amt_baht_out',
                          label:'มูลค่าส่งออก' 
                        }
                    ]
                },
                data:{
                    type:Object,
                    value:{}
                }
            },
            _setItem(hamonizeCodeList){
                let combobox = this.$$('#hamonizeSearch')
                let newData = hamonizeCodeList.map((hamonize)=>{
                    return {label: hamonize.id+' '+hamonize.hamonize_th, value: hamonize.id}
                })
                combobox.items = newData;
                let comboboxhamonizeOrderBy = this.$$('#hamonizeOrderBy')
                comboboxhamonizeOrderBy.items = this.hamonizeOrder
                comboboxhamonizeOrderBy.value = 'hamonize_code'
                // this.set('data.orderby','hamonize_code')
            },

            _setDate(e){
                this.set('data.sdate',e.sdate)
                this.set('data.edate',e.edate);
                (e.edate != '')? this.getRiceValue():'';
            },
            getRiceValue(){
                //console.log(1);
                // console.log(this.data.hamonize_id == undefined || this.data.hamonize_id == '');
                if (this.data.orderby == '') {
                     let comboboxhamonizeOrderBy = this.$$('#hamonizeOrderBy')
                    comboboxhamonizeOrderBy.value = 'hamonize_code'
                    this.data.orderby =  'hamonize_code'
                }
                if (this.data.hamonize_code == undefined || this.data.hamonize_code == '') {
                    this.dispatchAction('HAMONIZE_CODE_SEARCH_R1',this.genUrl(this.change2GMT7(this.data)))
                }else {
                    this.dispatchAction('HAMONIZE_CODE_SEARCH_R2',this.genUrl(this.change2GMT7(this.data)))
                }
            },
            getRiceValueReport(){
                if (this.data.hamonize_code == undefined || this.data.hamonize_code == '') {
                    window.open('./api/report/h01?'+this.genUrl(this.data))
                }else {
                    window.open('./api/report/h02?'+this.genUrl(this.data))
                }
            }
        });
    </script>
</dom-module>