
<link rel="import" href="./../../components/format-number-behavior.html">

<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<dom-module id="hamonize-list">
    <style include="page-style flex-style">
        table.gl-table-default > thead > tr:nth-child(1) > th:nth-child(2),
        table.gl-table-default > tfoot > tr > td:nth-child(2) {
            width: 15%;
        }
        table.gl-table-default > thead > tr:nth-child(1) > th:nth-child(3),
        table.gl-table-default > tfoot > tr > td:nth-child(3) {
            width: 30%;
        }
    </style>
    <template>
        <paper-material elevation="1" class="container">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th class="label-head" rowspan="2">ลำดับ</th>
                        <th class="label-head" rowspan="2">เลขพิกัดศุลกากร</th>
                        <th class="label-head" rowspan="2">ชนิดข้าว</th>
                        <th class="label-head" colspan="2">นำเข้า</th>
                        <!--<th class="label-head">มูลค่า (บาท)</th>-->
                        <th class="label-head" colspan="2">ส่งออก</th>
                        <!--<th class="label-head">มูลค่า (บาท)</th>-->
                    </tr>
                    <tr>
                        <!--<th class="label-head">HM CODE</th>-->
                        <!--<th class="label-head">ชนิดข้าว</th>-->
                        <th class="label-head">ปริมาณ (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                        <th class="label-head">ปริมาณ (ตัน)</th>
                        <th class="label-head">มูลค่า (บาท)</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-if" if="[[checkData(dataList)]]">
                        <tr>
                            <td colspan="7" class="no-data">ไม่พบข้อมูล</td>
                        </tr>
                    </template>
                    
                    <template is="dom-repeat" items={{dataList}} >
                        <tr>
                            <td style="text-align: center;">[[_Obindex(index)]]</td>
                            <td>[[item.hamonize_code]]</td>
                            <td>[[item.hamonize_th]]</td>
                            <td class="format-number">[[formatNumber(item.net_weight_in)]]</td>
                            <td class="format-number">[[formatNumber(item.fob_amt_baht_in)]]</td>
                            <td class="format-number">[[formatNumber(item.net_weight_out)]]</td>
                            <td class="format-number">[[formatNumber(item.fob_amt_baht_out)]]</td>
                        </tr>
                    </template>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>รวม</td>
                        <td class="total">[[formatNumber(total.net_weight_in)]]</td>
                        <td class="total">[[formatNumber(total.fob_amt_baht_in)]]</td>
                        <td class="total">[[formatNumber(total.net_weight_out)]]</td>
                        <td class="total">[[formatNumber(total.fob_amt_baht_out)]]</td>
                    </tr>
                </tfoot>
            </table>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'hamonize-list',
            behaviors:[
                DataManageBehavior,
                ReduxBehavior,
                FormatNumberBehavior,
                commonLogic
            ],
            properties:{
                dataList:{
                    statePath:'hamonize.list',
                    observer:'totalcal'
                },
                total:{
                    type: Object,
                    value:{}
                }
            },
            totalcal(dataList){
                this.set('total.net_weight_in',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].net_weight_in , 0));
                this.set('total.fob_amt_baht_in',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].fob_amt_baht_in , 0));
                this.set('total.net_weight_out',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].net_weight_out , 0));
                this.set('total.fob_amt_baht_out',Object.keys(dataList).reduce((previous, current) => previous + dataList[current].fob_amt_baht_out , 0));
            },
        });
    </script>
</dom-module>