<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<link rel="import" href="./../../components/month-behavior.html">

<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../components/vaadin-gird-filter-common.html">
<dom-module id="license-list">
    <style include="page-style flex-style">
        vaadin-grid {
            height: 100vh;
        }
    </style>
    <template>
        <paper-material elevation="1" class="container">
            <vaadin-grid id="material" items="[[dataList]]">

                <vaadin-grid-column width="10%" flex-grow="0">
                    <template class="header">
                        <div class="text-center">
                            ลำดับ
                        </div>
                    </template>
                    <template>
                        <div class="text-center" on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">
                            [[_Obindex(index)]]
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="23%" flex-grow="0" resizable>
                    <template class="header">
                        <div class="text-center">เลขที่หนังสือรับรอง</div>
                        <vaadin-gird-filter-common path="reference_code2" value="[[_reference_code2]]">
                        </vaadin-gird-filter-common>
                    </template>
                    <template>
                        <div class="text-center" on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">[[item.reference_code2]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="23%" flex-grow="0" resizable>
                    <template class="header">
                        <div class="text-center">ประเภทหนังสือรับรอง</div>
                        <vaadin-gird-filter-common path="contract_type_name" value="[[_contract_type_name]]">
                        </vaadin-gird-filter-common>

                    </template>
                    <template>
                        <div class="text-center" on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">[[item.contract_type_name]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="12%" flex-grow="0">
                    <template class="header">
                        <div class="text-right">ปริมาณ (ตัน)</div>
                    </template>
                    <template>
                        <div class="text-right" on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">[[formatNumber(item.net_weight)]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="12%" flex-grow="0">
                    <template class="header">
                        <div class="text-right">มูลค่า (บาท)</div>
                    </template>
                    <template>
                        <div class="text-right" on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">[[formatNumber(item.fob_amt_baht)]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="10%" flex-grow="0">
                    <template class="header">วันที่อนุญาต
                    </template>
                    <template>
                        <div on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">
                            [[item.approve_date]]
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="10%" flex-grow="0">
                    <template class="header">วันที่หมดอายุ
                    </template>
                    <template>
                        <div on-tap="printReportLicense" style="cursor: pointer;" data="[[item]]">
                            [[item.expire_date]]
                        </div>
                    </template>
                </vaadin-grid-column>

            </vaadin-grid>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'license-list',
            behaviors: [
                DataManageBehavior,
                ReduxBehavior,
                FormatNumberBehavior,
                commonLogic,
                MonthBehavior
            ],
            properties: {
                dataList: {
                    statePath: 'license.licenseList'
                }
            },
            printReportLicense(e) {
                let url = { refCode: e.currentTarget.data.invh_run_auto }

                window.open('./api/report/search/expt?' + this.genUrl(url))

            }
        });
    </script>
</dom-module>