<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">

<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="../../../../bower_components/gl-form/gl-combo-box.html">

<link rel="import" href="./../../components/page-style.html">

<dom-module id="list-report-custom">
    <template>
        <style include="page-style ">
            vaadin-grid {
                margin: 0px;
                width: 100%;
                height: auto;
            }

            .img {
                width: 24px;
                height: 24px;
                margin: 0px 10px;
                /*background-color: lightgray;*/
            }

            .text-center {
                text-align: center;
            }

            paper-button {
                width: 130px;
            }

            .zoneName {
                margin-left: 20px;
                padding-top: 5px;
                display: block;
            }
        </style>

        <paper-material elevation="1">
            <div class="container">
                <div class="flex-horizontal-with-ratios">
                    <!--<div class="flexchild"></div>-->
                    <!--<div class="flex4child">-->
                    <vaadin-grid aria-label="Report" id="material" items="[[report]]">
                        <vaadin-grid-column width="10%" flex-grow="0">
                            <template class="header ">
                                <div class="text-center">ลำดับ</div>
                            </template>
                            <template>
                                <div class="text-center">[[item.report_id]]</div>
                            </template>
                        </vaadin-grid-column>


                        <vaadin-grid-column width="53.9%" flex-grow="0">
                            <template class="header">ชื่อรายงาน</template>
                            <template>[[item.report_name]]</template>
                        </vaadin-grid-column>

                        <vaadin-grid-column width="12%" flex-grow="0">
                            <template class="header">
                                <div class="text-center">PDF</div>
                            </template>
                            <template>
                                <paper-button raised class="btnInTable" id="pdf" on-tap="print">
                                    <iron-image class="img" sizing="cover" preload src="/images/icon/type_report/pdf.png"></iron-image>
                                    PDF</paper-button>
                            </template>
                        </vaadin-grid-column>

                        <vaadin-grid-column width="12%" flex-grow="0">
                            <template class="header">
                                <div class="text-center">WORD</div>
                            </template>
                            <template>
                                <paper-button raised class="btnInTable" id="word" on-tap="print">
                                    <iron-image class="img" sizing="cover" preload src="/images/icon/type_report/Microsoft_Word_2013_logo.svg.png"></iron-image>
                                    WORD</paper-button>
                            </template>
                        </vaadin-grid-column>

                        <vaadin-grid-column width="12%" flex-grow="0">
                            <template class="header">
                                <div class="text-center">EXCEL</div>
                            </template>
                            <template>
                                <paper-button raised class="btnInTable" id="excel" on-tap="print">
                                    <iron-image class="img" sizing="cover" preload src="/images/icon/type_report/Microsoft_Excel_2013_logo.svg.png"></iron-image>
                                    EXCEL</paper-button>
                            </template>
                        </vaadin-grid-column>
                    </vaadin-grid>
                    <!--</div>-->
                    <!--<div class="flexchild"></div>-->
                </div>
            </div>


        </paper-material>
        <paper-dialog id="report" modal>
            <h2>รายงาน</h2>
            <paper-dialog-scrollable>
                <div class="layout start-justified">
                    <div class="horizontal start-justified layout">
                        <div>ภูมิภาคที่ต้องการดู</div>
                    </div>
                    <div class="flex">
                        <div>
                            <div class="zoneName" style="padding-bottom: 15px">
                                <paper-checkbox checked="{{item.check}}" on-tap="seletedAll"> เลือกทุกโซน</paper-checkbox>
                            </div>
                            <template is="dom-repeat" items={{zoneList}}>
                                <div class="zoneName">
                                    <paper-checkbox checked="{{item.check}}"> {{item.label}}</paper-checkbox>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="flex" style=" margin-right: 30px">{{getMonth(data.year)}}
                        <gl-combo-box id="priority" label="ปี" always-float-label item-label-path="label" item-value-path="value" items="{{yearList}}"
                            value="{{data.year}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                    <div class="flex" style=" margin-right: 30px">
                        <gl-combo-box id="priority" label="เดือน" always-float-label item-label-path="label" item-value-path="value" items="{{monthList}}"
                            value="{{data.month}}">
                            <template>
                                [[item.label]]
                            </template>
                        </gl-combo-box>
                    </div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <div class="flex horizontal end-justified layout buttons">
                    <paper-button raised class="gl-btn-default" dialog-dismiss>ปิด</paper-button>
                    <!-- dialog-confirm -->
                    <paper-button raised class="gl-btn-primary" on-tap="printReport" autofocus>ออกรายงาน</paper-button>
                </div>
            </div>
        </paper-dialog>
        <!--<paper-dialog id="reportsd">
            <div class="layout horizontal start-justified">
                <div class="flex" style=" margin-right: 30px">
                    <gl-form-input label="วันที่ที่ต้องการดู:" placeholder="วันที่ที่ต้องการดู" type="date" value="{{data.currentDate}}"></gl-form-input>
                </div>
                <div class="flex" style=" margin-right: 30px">
                    <gl-form-input label="ถึงวันที่:" placeholder="ถึงวันที่" type="date" value="{{data.amountTime}}"></gl-form-input>
                </div>

                <div class="flex horizontal end-justified layout buttons">
                    <paper-button raised class="gl-btn-default" dialog-dismiss>ปิด</paper-button>
                    <paper-button raised class="gl-btn-primary" on-tap="printReport" dialog-confirm autofocus>ออกรายงาน</paper-button>
                </div>
        </paper-dialog>-->

    </template>
    <script>
        Polymer({
            is: 'list-report-custom',
            behaviors: [
                ReduxBehavior, nylonBehavior
            ],
            properties: {
                data: {
                    type: Object,
                    value: {
                        year: '',
                        month: '', type: 'PDF'
                    }
                },
                zoneList: {
                    statePath: 'report.zoneList',
                },
                yearList: {
                    statePath: 'report.yearList',
                },
                monthList: {
                    statePath: 'report.monthList',
                },
                report: {
                    type: Array,
                    value: [
                        {
                            report_id: 1,
                            report_name: 'รับแจ้งขายข้าวประจำวัน',
                            report_link: '/stats/stats1',
                            report_prama: 'date'
                        },
                        {
                            report_id: 2,
                            report_name: 'ประเทศผู้นำเข้าข้าวรายใหญ่ของประเทศไทยตามแจ้งขายข้าว',
                            report_link: '/stats/stats1',
                            report_prama: 'sDateendDate'
                        },
                        {
                            report_id: 3,
                            report_name: 'ราคาข้าวตามใบอนุญาตประจำวัน',
                            report_link: '/stats/stats1',
                            report_prama: 'date'
                        },
                        {
                            report_id: 4,
                            report_name: 'รายงานการสถานการณ์ส่งออกข้าว',
                            report_link: '/stats/stats1',
                            report_prama: 'date'
                        },
                    ]
                },
                data: {
                    type: Object,
                    value: {}
                },
                param: {
                    type: Object,
                    value: {}
                },
            },
            checkIsTree(index) {
                return (index % 3 === 0 ? true : false)
                // console.log(index);
            },
            getMonth(year) {
                if (year !== undefined && year !== null && year !== '') {
                    this.dispatchAction('GET_MONTH_IN_YEAR', year)
                }
            },
            seletedAll(e) {
                let check = e.currentTarget.checked
                this.zoneList.map((item, index) => {
                    this.set('zoneList.' + [index] + '.check', check)
                })
            },
            ready() {
                // //console.log(this.data);
                // this.set('data.date', new Date().toISOString().split('T')[0])
                // this.set('data.amountTime', 6)
                // this.set('data.amountYear', 2)
            },
            print(e) {
                let link = e.model.item.report_link
                let type = e.currentTarget.id
                let report_prama = e.model.item.report_prama
                this.set('data.type', type)
                this.set('data.link', link)
                this.set('param.report_id', e.model.item.report_id)
                this.set('param.report_prama', report_prama)

                this.$$('#report').open()
                // }else {
                //     //console.log(1111);
                //     this.$$('#reportsd').open()
                // }
            },
            checkReport(report_id) {
                if (report_id === 4)
                    return false
                return true
            },
            checkReportYear(report_id) {
                if (report_id === 6 || report_id === 7)
                    return false
                return true
            },
            printReport() {
                const _filterChecked = (data) => {
                    return data.filter((item) => {
                        return item.check === true
                    })
                }
                let Check = _filterChecked(this.zoneList)
                let newData = this.data
                newData.zone = String(Check.map(item => item.value))
                // console.log(this.data);
                console.log(this.param.report_id);
                console.log(newData)
                console.log(newData.type);

                let openPost = (url, variables) => {
                    var form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", url);
                    form.setAttribute("target", "_blank");
                    for (variable in variables) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("name", variable);
                        hiddenField.setAttribute("value", variables[variable]);
                        form.appendChild(hiddenField);
                    }
                    document.body.appendChild(form);
                    form.submit();
                }
                let url = '/api/report/daily/company'
                openPost(url,newData)
                // switch (this.param.report_id) {
                //     case 1:
                //         window.open('./api/report/daily/company?date=' + this.data.date + '&export=' + this.date.type)
                //         break;
                //     case 2:
                //         window.open('./api/report/daily/country?sdate=' + sdate + '&edate=' + edata + '&export=' + this.date.type)
                //         break;
                //     case 3:
                //         window.open('./api/report/daily/pricerice?date=' + this.data.date + '&export=' + this.date.type)
                //         break;
                //     case 4:
                //         window.open('./api/report/daily/exportrice?currentDate=' + this.data.date + '&amountTime=' + this.data.amountTime + '&export=' + this.date.type)
                //         break;
                //     default:
                //         break;
                // }

            }

        });
    </script>
</dom-module>